
__pycache__/enemies.cpython-38.pyc
__pycache__/player.cpython-38.pyc
__pycache__/platform.cpython-38.pyc
__pycache__/loadings.cpython-38.pyc
__pycache__/level.cpython-38.pyc
__pycache__/items.cpython-38.pyc
